<div class="content">
        <h1>Comments #{{place}}</h1>
        <ul class='list-group '>
                <li ng-repeat="comment in taskList[index].description track by $index" class='list-group-item borderless' id='last'>
                    <div class="row">
                            <div class='col-sm-4 square' ng-class='{"blueSquare": comment == activeCom}' ></div>
                            <div class='col-sm-8 hoverTag'id='mom' ng-click='goActiveCom(comment,$index)' >{{comment}}</div>
                    </div>
                </li>
        </ul>
        <div class="list-group">
            <div class="list-group-item borderless">
                <div class="row">           
                    <div class='col-sm-4 square' style='margin-right:12px;'></div>
                                <!-- <div class=" col-sm-2"><img width="50" height="50" src="./orange.jpg" alt=""></div> -->
                    <textarea   type="text" ng-model='newComment' ng-keypress="myFunct($event)">                
                </div>
            </div>
        </div>
</div>

